html {
  background-color: darkgray;
  font-family: arial;
}
header{
  text-align: center;
  font-size: medium;
  font-weight: bold;
  padding: 10px;
  background-color: darksalmon;
}
.navbar{
  display: flex;
  list-style-type: none;
}
.nav-list {
  display: flex;
  list-style-type: none;
}
.nav-list a:hover {
  color: white;
}
main {
  padding: 20px;
  margin: 30px;
  border-style: dashed
}
footer {
  font-size: small;
  text-align: center;
  background-color: darksalmon;
  color: black;
}


